<h1>Welcome to example.com, <%= @user.name %></h1>
<p>
    You have successfully signed up to www.biblichor.com,
    your username is: <%= @user.username %>.<br>
</p>
<p>
    To login to the site, just follow this link: <%= @login_url %>.
</p>
<p>Thanks for joining and have a great day!</p>
