<%# SEARCH BAR %>
<div class="container">
    <div class="container text-left sign-form">
        <div id="custom-search-input  ">
<%# ,class:'search-query form-control' %>
            <%= form_tag address_form_path, :method => 'get', :id => "pac-container", :onFocus => "geolocate()" do %>
            <div class="input-group">
                <%= text_field_tag :search, params[:search], class:'form-control'%>
                <%= button_tag '<i class="fas fa-search" aria-hidden="true"></i>'.html_safe, class:" btn btn-info", :name => nil %>
            </div>
            <% end %>
    <hr>
            <div id="map"></div>
        </div>
    </div>
</div>