<hr>


<div class="container">
    <div class="row">

  <%# Review Book %>
  <div class="col-md-8">
    <div>
      col
    </div>
  </div>
  <%# Similiar-Books  %>
  <div class="col-4">
    <div class="container">
        <div>
            <h3>Similiar Books</h3>
        <hr>
        </div>
    </div>
  </div>


    </div>
</div>