<%# NEW BOOK-FORM %>
<div class="container text-center">
  <h4 class="main-color">add-new-book</h4>
  <div class="container text-left sign-form">
<%= render 'form', book: @book %>

<%# link_to 'Back', books_path %>
    </div>
</div>