@import "select2";
@import "select2-bootstrap";

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
// Your CSS partials
@import "pages/index";



body {
    width:80%;
    margin: auto;
    background-color: #f6f3ef;
    color: 6e482f;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-size-adjust: auto;
    
}
.logo {
    margin: auto;
}
.main-color, strong , i{
    color: #6e482f;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.fg-color {
    color: #6b6a69;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.star {
    color: #f78e37 ;
}

.author{
    color: #6e482f;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

// NAVBAR

.nav {
height: 50px;
width: 100%;
position: relative;
}

.nav > .nav-header {
display: inline;
}
a {
  text-decoration: none;
  color: #6e482f;
}

nav {
    // font-family: monospace;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    display: block;
    float: left;
    padding: 5px;
    position: relative;
    text-decoration: none;
  transition-duration: 0.5s;
}
  
li a {

}

li:hover {
    cursor: pointer;
}

ul li ul {
    text-align: right;
    visibility: hidden;
  opacity: 0;
  min-width: 5rem;
    position: absolute;
  transition: all 0.5s ease;
//   margin-top: 1rem;
    right: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
clear: both;
  width: 100%;
}

.btn-price {
    // width: 50%;
    color: #f6f3ef;
    background-color: #6e482f;
}
.btn-price:hover span {display:none}
.btn-price:hover:after {
  content:"add-cart";
  color: #f6f3ef;
}
.btn-remove {
  color: #f6f3ef;
  background-color: #b91919c2;
}
.btn-remove:hover {
  color: #f6f3ef;
  background-color: #b91919;
}

.btn-remove:hover span {display:none}
.btn-remove:hover:after {
  content:"sure?";
  color: #f6f3ef;
}
.btn-process {
  color: #f6f3ef;
  background-color: #198cb9c2;
}
.btn-process:hover {
  color: #f6f3ef;
  background-color: #198cb9;
}

.btn-process:hover span {display:none}
.btn-process:hover:after {
  content:"process";
  color: #f6f3ef;
}
.notification {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
}
.alert-success strong{
  color: #6e482f;
}

.alert-alert strong{
  color:#b91919;
}

// .btn .danger {
//   color: #f6f3ef;
//   background-color: #b91919;
// }

// SIGN-FORM
.sign-form{
  width: 400px;
}

.form-control,.form-check-input, select2-container{
  background-color: #f6f3ef;
}

.form-control-label, .form-check-label{
  color: #6b6a69;
}
.select2-container--bootstrap .select2-selection{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.select2-container--bootstrap .select2-selection{
   background-color: #f6f3ef; 
  border: 1px solid #ced4da;
  border-radius: 2px;
  cursor: text;
}
.select2-results__options{
  background-color: #f6f3ef; 
  border: 1px solid ;
  color: #6e482f;
  border-radius: 2px;
}
.select2-results ul li{
  border: 1px solid #6e482f62;
  border-radius: 2px;
  background: #6e482f62;
  margin: 2px;
}
.select2-container--bootstrap .select2-results__option--highlighted[aria-selected]{
background-color: #6e482f;
color: #f6f3ef;
}
div .tags-btn a{
  border: 1px solid #6e482f62;
  border-radius: 2px;
  background: #6e482f62;
  padding: 2px;
}
div .tags-btn{
  margin: 2px;
  padding: 1px;
}

input.btn, {
  margin: auto;
  text-align: center;
  background-color: #6e482f;
}

.form-actions input{
  color: #f6f3ef;
}

.btn-block {
  color: #f6f3ef;
  background-color: #6e482f;
}

.btn-info {
  color: #6e482fb0;
  background-color: #6e482f62;
  border: #495057;
}
.btn-info:hover {
  color: #f6f3ef;
  background-color: #6e482f;
  border: #6e482f;
}

// SUB-TITLE-BAR
.sub-bar {
  // height: 50px;
  width: 80%;
  position: relative;
  display: inline;
}

.sub-bar > .sub-header {
  display: inline;
}

.shared-link {
  padding: 10px;
}


// SEARCH-BAR
#custom-search-input{
  width: 500px;
  margin: auto;
}

// PRODUCT IMAGE
.fit-image{
  width: 100%;
  object-fit: cover;
  // height: 300px; /* only if you want fixed height */
  }

p {
  margin-top: 0;
  margin-bottom: 0;
}

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: small;
}

.description{
  font-size: 13px;
}
