// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "pages/index";

body {
    width:80%;
    margin: auto;
    background-color: #f6f3ef;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-size-adjust: auto;
    
}
.logo {
    margin: auto;
}
.main-color, strong , i{
    color: #6e482f;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.fg-color {
    color: #6b6a69;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.star {
    color: #f78e37 ;
}

.author{
    color: #6e482f;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

// NAVBAR

.nav {
height: 50px;
width: 100%;
position: relative;
}

.nav > .nav-header {
display: inline;
}
a {
  text-decoration: none;
  color: #6e482f;
}

nav {
    // font-family: monospace;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    display: block;
    float: left;
    padding: 5px;
    position: relative;
    text-decoration: none;
  transition-duration: 0.5s;
}
  
li a {

}

li:hover {
    cursor: pointer;
}

ul li ul {
    text-align: right;
    visibility: hidden;
  opacity: 0;
  min-width: 5rem;
    position: absolute;
  transition: all 0.5s ease;
//   margin-top: 1rem;
    right: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
clear: both;
  width: 100%;
}

.btn-price {
    // width: 50%;
    color: #f6f3ef;
    background-color: #6e482f;
}
.btn-price:hover span {display:none}
.btn-price:hover:after {
  content:"RENT?";
  color: #f6f3ef;
}

.notification {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
}
.alert-success strong{
  color: #6e482f;
}

.alert-alert strong{
  color:#b91919;
}

.danger {
  color: #b91919;
}

// SIGN-FORM
.sign-form{
  width: 400px;
}

.form-control,.form-check-input{
  background-color: #f6f3ef;
}

.form-control-label, .form-check-label{
  color: #6b6a69;
}
input.btn, {
  margin: auto;
  text-align: center;
  background-color: #6e482f;
}

.form-actions input{
  color: #f6f3ef;
}

.btn-block {
  color: #f6f3ef;
  background-color: #6e482f;
}

.btn-info {
  color: #6e482fb0;
  background-color: #6e482f62;
  border: #495057;
}
.btn-info:hover {
  color: #f6f3ef;
  background-color: #6e482f;
  border: #6e482f;
}

// SUB-TITLE-BAR
.sub-bar {
  // height: 50px;
  width: 80%;
  position: relative;
  display: inline;
}

.sub-bar > .sub-header {
  display: inline;
}

.shared-link {
  padding: 10px;
}


// SEARCH-BAR
#custom-search-input{
  width: 500px;
  margin: auto;
}

// PRODUCT IMAGE
.fit-image{
  width: 100%;
  object-fit: cover;
  // height: 300px; /* only if you want fixed height */
  }

